.player {
    width: 200px;
    margin: 10px 20px;
    background-color: #fff;
}
.player__header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: flex-start;
}
.player__points {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.player__footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0 10px 10px 10px;
}
.player__avatar {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.player__avatar img {
    max-width: 100%;
}
.player__name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
